<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <style>
      body {
      padding-top: 50px;
      }
      .simple-template {
      padding: 40px 0px;
      }
      .endpoint {
      font-size : 125%;
      padding: 0px 0px 10px 0px;
      }
    </style>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Buildbot API 1.0</title>

    {% endblock %}
  </head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
          <a class="navbar-brand" href="/help">Buildbot API</a>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/help">
		{{package_owner}}/{{package_name}}</a></li>
          </ul>
	</div><!--/.nav-collapse -->
      </div>
    </nav>


    {% block body %}{% endblock %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

</body>
</html>
